# Laboratorio # 2
**Nombre:** Pablo Santizo\
**Carné:** 24000134\
**Curso** Ciencia de Datos en Python\
**Maestría:** Data Science\
**Universidad:** Galileo, Instituto en Investigación de Operaciones

# Parte #1 - (Programación y Sintaxis): 
A continuación se le muestran una lista de ejercicios que deberá completar utilizando Python, debe usar Markdown para indicar donde inicia cada uno de los ejercicios.

In [ ]:
import pandas as pd
import numpy as np 
from datetime import datetime

### 1. Haga un programa en Python que reciba de parámetro un número de segundos y que despliegue en pantalla, las horas, minutos y segundos que representan.  Recuerde manejar excepciones y errores que considere necesarios.

In [1]:
a= input("Ingrese un numero de segundos : ")

def tiempo_segundo(x):
    try:
        y=int(x)
        hora, restante = divmod(y, 3600)
        minuto, segundo = divmod(restante, 60)
        return f'{hora} Horas, {minuto} minutos, {segundo} segundos'
    except:
        return "No ha ingresado un número entero"
    
tiempo_segundo(a)

Ingrese un numero de segundos :  5479

'1 Horas, 31 minutos, 19 segundos'

### 2. Haga una función en Python que dado un número entre 1 y 20. Y un carácter cualquiera despliegue cuatro patrones triangulares.

In [2]:
b= input("Ingrese un número entero entre 1 y 20")
c= input("Ingrese un carácter cualquiera")

def patron(w,  z):
    try:
        x=int(w)
        y= str(z)
        if((x >= 1) and (x <= 20)):
            for i in range(1, x+1):
                print(i*y, (x+1-i)*y, (x+1-i)*y,i*y)
        else:
            return "El número no esta entre 1 y 20"
    except:
        return 'No ha ingresado un número entero y un carácter valido'

patron(b,c)

Ingrese un número entero entre 1 y 20 20
Ingrese un carácter cualquiera *

* ******************** ******************** *
** ******************* ******************* **
*** ****************** ****************** ***
**** ***************** ***************** ****
***** **************** **************** *****
****** *************** *************** ******
******* ************** ************** *******
******** ************* ************* ********
********* ************ ************ *********
********** *********** *********** **********
*********** ********** ********** ***********
************ ********* ********* ************
************* ******** ******** *************
************** ******* ******* **************
*************** ****** ****** ***************
**************** ***** ***** ****************
***************** **** **** *****************
****************** *** *** ******************
******************* ** ** *******************
******************** * * ********************

### 3. Haga un programa en Python que la fecha de nacimiento de una persona (puede ingresar por separado cada valor, es decir pedir primero día, luego mes y luego año), despliegue la edad de la persona en años, meses y días. Su resultado puede ser aproximado.

In [ ]:
def fecha_nacimiento(d:int=None, m:int=None, y:int=1989):
    if isinstance(d, int) and isinstance(m, int) and isinstance(y, int) :
        fecha = datetime.strptime('/'.join([str(d),str(m),str(y)]), '%d/%m/%Y').year
        hoy = datetime.now().year
        return f'tu edad es de {(hoy-fecha)}'
    else:
        return 'Revisar documentacion'
    
fecha_nacimiento(6,7,1991)

In [ ]:
def join_tupla(t:tuple=None):
    if isinstance(t, tuple):
        t = tuple(str(item) for item in t)
        return ''.join(t)
    else:
        return 'revisar documentacion'

join_tupla((1,2,'M','I','E','@','!','#',9,0))

In [ ]:

def mean_tupla(l:tuple=None):
    if isinstance(l, tuple):
        lista = tuple(sum(tup)/len(tup) for tup in l if tup)
        return lista
    else:
        return 'Revisar documentacion'
    
mean_tupla(((10,10),(1,2,3)))

In [ ]:
y=set()

for j in ["T","C","P","E"]:
    for i in range(1,14):
        y.add(f"{j}{str(i)}")
type(y)
len(y)

In [68]:
import random as random
from random import sample 
import math

In [94]:
n =random.randint(1,52)
print(n)
x = set(random.sample(list(y),n))
print(x)
z = y-x
m = random.randint(1,52-n)
print(y-x)
w = set(random.sample(list(z),m))
print(w)

12
{'E3', 'P2', 'P4', 'E1', 'T1', 'T4', 'T10', 'C5', 'E10', 'T5', 'E11', 'E13'}
{'P1', 'C9', 'E6', 'C10', 'P8', 'P5', 'T8', 'T2', 'C13', 'T7', 'C4', 'T6', 'E5', 'E12', 'C1', 'P9', 'T9', 'C3', 'E4', 'C11', 'P13', 'T12', 'C7', 'C6', 'E8', 'C12', 'C8', 'E7', 'P3', 'P10', 'P11', 'P7', 'E9', 'T3', 'P12', 'P6', 'T11', 'C2', 'E2', 'T13'}
{'E5', 'T12', 'T13', 'P10'}

In [95]:
len(z)

40

In [96]:
px = len(x)/len(y)
pw =len(w)/len(z)
print(px)
print(pw)
px*pw

0.23076923076923078
0.1

0.023076923076923078

In [97]:
print(x & w)
1/math.comb(52, n)
1/math.comb(len(z),m)

set()

1.09421162052741e-05

In [ ]:
import random

aSet = {"Jhon", "kelly", "Scoot", "Emma", "Eric"}
# random 3 samples from set
sampled_set = random.sample(aSet, 3)
print(sampled_set)
# Output ['Emma', 'kelly', 'Eric']